<!DOCTYPE html>
<html
  lang="{{ default .Site.Language.Lang .Site.LanguageCode }}"
  dir="{{ default "ltr" .Site.Language.LanguageDirection }}"
>
<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>
<body
  dir="{{ default "ltr" .Site.Language.LanguageDirection }}"
  class="book-kind-{{ .Kind }} book-type-{{ .Type }} book-layout-{{ .Layout }}"
>
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  {{ partial "docs/navbar-header.html" . }}
  <input type="checkbox" class="hidden toggle" id="toc-control" />
  <main class="main-container">
    {{ template "menu-container" . }}
    {{ template "main-container" . }}
    {{ template "footer" . }}
    {{ template "copyright" . }}
  </main>
</body>
</html>

{{ define "header" }}
{{ end }}

{{ define "menu" }}
  {{ partial "docs/menu" . }}
{{ end }}

{{ define "menu-container" }}
<aside class="book-menu">
  <div class="book-menu-content">
    {{ template "menu" . }}
  </div>
</aside>
{{ end }}

{{ define "main-container" }}
<div class="book-page">
  <header class="book-header">
    {{ template "header" . }}
  </header>
  <!-- Page Content -->
  {{ template "main" . }}
</div>
{{ end }}

{{ define "main" }}
  <article class="markdown book-article">
    {{- .Content -}}
  </article>
{{ end }}

{{ define "footer" }}
  {{ partial "docs/footer-menu" . }}
{{ end }}


{{ define "copyright" }}
{{ if .Site.Copyright }}
<div class="book-copyright flex justify-center">
  {{ partial "docs/copyright" . }}
</div>
{{ end }}
{{ end }}

