{{ define "main-container" }}
<div class="landing-container">
    <article class="markdown book-article">
    {{ template "hero-template" . }}
        {{- .Content -}}
    </article>
</div>
{{ end }}

{{ define "hero-template" }}
    {{ partial "book-hero.html" (dict
          "Params" .Params
          "Layout" "side"
          "Image" (dict "url" "/img/project/console/console-home-hero.png" "class" "book-hero-side-image")
          "Buttons" (slice
            (dict "label" "QuickStart" "url" "/quickstart" "class" "btn-full btn-large")
            (dict "label" "Documentation" "url" "/docs/console" "class" "btn-large")
            (dict "label" "Community" "url" "/community" "class" "btn-large")
          )
        )
    }}
{{ end }}